<!DOCTYPE html>
<html>
 <head>
  <title>Login | id.bob.sh</title>
 </head>
 <body>
  <p>Login please:</p>
  <form method="post">
   <p><label>Username: <input name="username"></label></p>
   <p><label>Password: <input name="password" type="password"></label></p>
   <p><button>Login</button></p>
 </body>
</html>
<!-- vim: set ts=1 sw=1 expandtab: -->
