<!DOCTYPE html>
<html>
 <head>
  <title>Me | id.bob.sh</title>
 </head>
 <body>
  <p><a href="/logout">Log out</a></p>
  <p>Username: <%= session[:username] %></p>
 </body>
</html>
<!-- vim: set ts=1 sw=1 expandtab: -->
